<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    
    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
    <!-- MAP -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Project-COVID</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="https://covid-19-trackerr.netlify.app/">
          <img src="/COVID-TRACKER-LOGO.png" width="50px" height="50px" ><span class="title">Covid Tracker</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="NavbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="https://covid-19-trackerr.netlify.app/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Global-Stats</a></li>
            <li class="nav-item"><a class="nav-link" href="/global-news">COVID Headlines</a></li>
          </ul>
        </div>
      </div>
    </nav>
