<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/CSS/newstyle.css" />
    <!-- MAP -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Project-COVID</title>
  </head>
  <body>
    <section id="NAVBAR">
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="https://covid-19-trackerr.netlify.app/">
            <img src="/COVID-TRACKER-LOGO.png" width="50px" height="50px" ><span class="title">Covid Tracker</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="NavbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="https://covid-19-trackerr.netlify.app/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/">Global-Stats</a></li>
              <li class="nav-item"><a class="nav-link" href="/global-news">COVID Headlines</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <section class="heading">
    <h1>Global News</h1>
</section>
 <% news.articles.forEach(function(art){%>
<section class="news" data-aos="fade-right">
  <div class="container">
   
<div class="row">
<div class="col-4">
<img src="globalnews.jpg" alt="image" >

</div>

<div class="col-8">
  <details>
<summary class="title"><%=art.title%>
  <p class="float-right author"><%=art.source.name%></p></summary>
<p class="publishedNews"><%=art.description%></p>
<p class="url"><%=art.url%></p>




</p> 
</details>
</div>
</div>
</div>
</section>

<%})%>
<footer class="footer footer_bg_1 mt-5">
  <!--  <div class="circle_ball about-image">
        <img src="symptoms.png" alt="" style="width: 170px;">
    </div>-->
        <div class="footer_top">
            <div class="container text-center">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <h2>
                                <u class="text-dark font-weight-bolder" style="font-size: 30px;">LINKS</u>
                            </h2>
                            <ul>
                                <li><a  href="#navbar">Home</a></li>
                                <li><a target="_blank" href="#">India</a></li>
                                <li><a target="_blank" href="#">Global</a></li>
                                
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget text-center">
                              <img src="coronavirus_PNG6.png" alt="corona-footer" style="width: 250px;" data-aos="rotate-ac" data-aos-duration="3000" data-aos-easing="ease-in-out">
                              <div class="container text-center icons">
                                <a href="http://www.facebook.com/webarchclub" target="_blank"> <i class="fab fa-facebook fa-2x mr-3 ml-3 " style="color: white;"></i> </a>
                                <a href="http://www.instagram.com/webarchclub" target="_blank"><i class="fab fa-instagram fa-2x mr-3  " style="color: white;"></i> </a>
                                <a href="http://www.github.com/webarchclub" target="_blank"><i class="fab fa-github fa-2x mr-3 " style="color: white;"></i> </a>
                               </div>
   
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <h2>
                                   <u class="text-dark font-weight-bolder" style="font-size: 30px;"> MORE</u>
                                   <ul>
                                    <li><a target="_blank" href="https://www.google.com/url?sa=t&source=web&rct=j&url=https://www.who.int/emergencies/diseases/novel-coronavirus-2019&ved=2ahUKEwjT8Lyz_oPpAhVrIbcAHSFuAFkQFjAPegQICBAB&usg=AOvVaw2bqm1AADArANglLPqDC5aW">WHO</a></li>
                                    <li><a target="_blank" href="https://www.google.com/url?sa=t&source=web&rct=j&url=https://mohfw.gov.in/&ved=2ahUKEwjbkLfu_oPpAhXRX3wKHaI-AhQQFjAAegQIARAB&usg=AOvVaw0P12pu_4vOFkMyTPfOrAEu">MoHFW</a></li>
                                    <li><a target="_blank" href="https://mygov.in/covid-19/">MyGov.in</a></li>
                                </ul>
                            </h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="text-center"><a href="#navbar"><i class="fa fa-arrow-up fa-2x"></i></a></div>
                        <p class="copy_right text-center">

                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved || Developed by <a href="https://webarchsrm.com" target="_blank" class="font-weight-bolder"><i><u class="text-light">Team WebArch<u></i></a>

                        </p>
                    </div>
                </div>
            </div>
        </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>